<div class="container">
  <div class="box">
    <div class="meal">
      <img [src]="meal?.strMealThumb" alt="image of meal" />
      <h3>{{ meal?.strMeal }}</h3>
    </div>
    <div class="content">
      <h2>Instructions</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo cum
        perferendis unde corporis necessitatibus repellendus! Voluptate nam
        aperiam doloremque eveniet. Expedita nemo tempore sed impedit sunt a
        fuga, quaerat modi.Voluptate nam aperiam doloremque eveniet. Expedita
        nemo tempore sed impedit sunt a fuga, quaerat modi.Voluptate nam aperiam
        doloremque eveniet. Expedita nemo tempore sed impedit sunt a fuga,
        quaerat modi.Voluptate nam aperiam doloremque eveniet. Expedita nemo
        tempore sed impedit sunt a fuga, quaerat modi.Voluptate nam aperiam
        doloremque eveniet. Expedita nemo tempore sed impedit sunt a fuga,
        quaerat modi.
      </p>
      <h2>Recipes :</h2>
      <ul>
        <li>1/2 cup Water</li>
        <li>2 parts Yeast</li>
        <li>1/2 cup Sugar</li>
        <li>1/2 cup Milk</li>
        <li>6 tblsp Butte</li>
        <li>2 Eggs</li>
        <li>1 ½ tsp Salt</li>
        <li>2-1/2 cups Flour</li>
        <li>for frying Oil</li>
        <li>garnish Lemon</li>
        <li>garnish Sugar</li>
        <li>garnish Cinnamon</li>
      </ul>
    </div>
  </div>
  <button class="btn btn-danger" (click)="back()">back</button>
</div>
