<nav>
  <div class="links" #side>
    <ul>
      <li>
        <a (click)="hideSide()" routerLink="/search" routerLinkActive="active"
          >Search</a
        >
      </li>
      <li>
        <a
          (click)="hideSide()"
          routerLink="/categorie"
          routerLinkActive="active"
          >Categories</a
        >
      </li>
      <li>
        <a (click)="hideSide()" routerLink="/area" routerLinkActive="active"
          >Area</a
        >
      </li>
      <li>
        <a (click)="hideSide()" routerLink="/contact" routerLinkActive="active"
          >Contact Us</a
        >
      </li>
    </ul>
  </div>
  <div class="click">
    <button #show (click)="showSide()">
      <i class="fa-solid fa-bars"></i>
    </button>
    <button #hide class="hide" (click)="hideSide()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
</nav>
